@charset "utf-8";

nav.player {
	width: 36em;
	height: 4em;
	margin: auto;
	transform: scale( 0.9 );
}
ul.player {
	list-style: none;
	display: flex;
	flex-direction: row;
	background: linear-gradient( transparent, rgba( 0, 0, 0, 0.1 ) 2%, rgba( 0, 0, 70, 0.5 ) 85%, rgba( 200, 100, 0, 0.23 ) 98%, transparent );
	border-radius: 38px;
	border: 3px solid rgba( 60, 120, 30, 0.8 );
	filter: drop-shadow( 0 0 1px black ) grayscale( 0.7 ) opacity( 0.5 );
}
ul.player:hover {
	filter: grayscale( 0 ) opacity( 0.8 );
}
li.player {
	width: 4em;
	height: 4em;
	border-radius: 38px;
	filter: drop-shadow( 0 0 1px black );
}
img.player {
	width: 2em;
	height: 2em;
	margin: 1em 1em;
}
img.player:hover {
	filter:  drop-shadow( 0 0 1px black ) brightness( 4 ) grayscale( 0 ) opacity( 1 );
}